body {
  min-width: 500px;
}
button {
  margin: 10px;
}

#message {
  color: green
}

#table {
  border: 1px solid black;
  width: 300px;
  cursor: pointer;
}

.selected {
  background-color: tan;
}

.close {
  color: red;
}